body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ul.ingredients-list {
  list-style: square inside;
}

ol.directions-list {
  list-style-type: lower-roman;
}